head
    link(rel="stylesheet" href="/stylesheets/footer.css")
body
    footer.footer-container
        div.footer-title
            ul.footer-list-container
                li.footer-mark-info
                    a(class="mark-github" href="https://github.com/thisismydisplay") Mark Osman
                    a(class="mark-linkedin" href="https://www.linkedin.com/in/markrockwellosman") Find Mark on LinkedIn
                li.footer-ara-info
                    a(class="ara-github" href="https://github.com/arasargsyan0622") Ara Sargsyan
                    a(class="ara-linkedin" href="https://www.linkedin.com/in/ara-sargsyan-9a8a07237") Find Ara on LinkedIn
                li.footer-haywood-info
                    a(class="haywood-github" href="https://github.com/haywood-d-johnson") Haywood D Johnson
                    a(class="haywood-linkedin" href="https://www.linkedin.com/in/haywood-d-johnson") Find Haywood on LinkedIn
                li.footer-leo-info
                    a(class="leo-github" href="https://github.com/Dedition") Leo Ladipo
                    a(class="leo-linkedin" href="https://www.linkedin.com/in/leo-l-79a260b0") Find Leo on LinkedIn
