head
    link(rel="stylesheet" href="/stylesheets/footer.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
body
    footer.footer-container
        div.footer-title
            ul.footer-list-container
                li.footer-mark-info
                    div.mark-name-div Mark Osman
                    div.footer-icon-container
                        a(class="mark-github" href="https://github.com/thisismydisplay")  <i class="fa-brands fa-github"></i>
                        a(class="mark-linkedin" href="https://www.linkedin.com/in/markrockwellosman") <i class="fa-brands fa-linkedin-in"></i>
                li.footer-ara-info
                    div.ara-name-div Ara Sargsyan
                    div.footer-icon-container
                        a(class="ara-github" href="https://github.com/arasargsyan0622") <i class="fa-brands fa-github"></i>
                        a(class="ara-linkedin" href="https://www.linkedin.com/in/ara-sargsyan-9a8a07237") <i class="fa-brands fa-linkedin-in"></i>
                li.footer-haywood-info
                    div.haywood-name-div Haywood D Johnson
                    div.footer-icon-container
                        a(class="haywood-github" href="https://github.com/haywood-d-johnson") <i class="fa-brands fa-github"></i>
                        a(class="haywood-linkedin" href="https://www.linkedin.com/in/haywood-d-johnson") <i class="fa-brands fa-linkedin-in"></i>
                li.footer-leo-info
                    div.leo-name-div Leo Ladipo
                    div.footer-icon-container
                        a(class="leo-github" href="https://github.com/Dedition") <i class="fa-brands fa-github"></i>
                        a(class="leo-linkedin" href="https://www.linkedin.com/in/leo-l-79a260b0") <i class="fa-brands fa-linkedin-in"></i>
