extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  form(action=`/questions/${question.id}/answer/add` method='POST')
    input(type='hidden' name='_csrf' value=csrfToken)
    .answer-form-container
      .answer-content-container
        label(for='content' id="content-label") Content:
        textarea(name='content' value=content id="content-input")
      div.form-buttons
        button(type='submit' class='form-submit-button') Add Answer
        a(href=`/questions/${question.id}` class='form-cancel-button') Cancel
