extends layout.pug

include utils.pug

block content

  +validationErrorSummary(errors)
  form(action='/questions/add' method='POST')
    input(type='hidden' name='_csrf' value=csrfToken)
    div.question-form-container
      .title-container
        label(for='title' id="title-label") Title
        input(type='text' name='title' id="title-input" )
      .ask-question-content-container
        label(for='content' id="content-label") Content
        textarea(name='content' value=content id="content-input")
      .form-buttons
        button(type='submit' class='form-submit-button') Add Question
        a(href='/' class='form-cancel-button') Cancel
