body {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: whitesmoke;
}

.vote-button {
    /* display: inline-block; */
    /* overflow: hidden; */
    width: 40px;
    height: 25px;
    /* background-position: 0 -25px; */
    cursor: pointer;
}


/* .vote-button.upvote-button {
    background-image: url('../public/images/up.png');
} */


/* .num-answer-span {
    margin-left: 30px;
} */

.num-answer-span,
.num-answer-label {
    /* border: black solid 1px; */
    font-size: 0.75rem;
    display: inline;
    text-align: center;
    /* padding: 10px; */
}

.modified-span {
    display: flex;
    align-self: flex-end;
    font-size: 0.75rem;
    background-color: white;
    color: lightslategray;
    /* padding-right: 2rem; */
}

.question-title-span {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 800px;
    color: #0a95ff;
    padding-left: 2rem;
}

.body-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: lightslategray; */
    /* padding: 20px; */
    padding-top: 0px;
    padding-bottom: 0px;
    width: 0 auto;
}

.body-header-content {
    display: flex;
    justify-content: center;
    width: 935px;
    padding: 0px 5px;
    /* height: 70px; */
    /* margin-right: 150px; */
}

.left-sidebar-header {
    width: fit-content;
    background-color: lightslategrey;
}

.right-sidebar-header {
    width: fit-content;
    background-color: lightslategrey;
}

.ask-button {
    width: 6rem;
    padding: 0.8em;
    margin: 20px;
    background-color: #0a95ff;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#navbar-left {
    display: flex;
    justify-content: center;
    width: 200px;
}

.question-list-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* margin-right: 150px; */
    z-index: 2;
}

.question-container {
    display: flex;
    padding: 0 35px;
    margin-bottom: 10px;
}

.vote-answer-div {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: flex-start;
    align-content: stretch;
    /* margin-bottom: 1.5rem; */
}

.answer-div {
    justify-content: flex-start;
}

.vote-div,
.answer-div {
    display: inline-block;
    /* margin-left: 30px; */
}

.vote-span {
    font-size: 0.75rem;
}

.title-content-div {
    flex-direction: column;
}

.hidden {
    display: none;
}

.username-content-div {
    display: flex;
    flex-direction: column;
}

.username-span,
.img-div {
    display: flex;
    align-self: flex-end;
    background-color: white;
    color: #0a95ff;
    padding: 0 0.5rem
}

.title-div {
    margin-bottom: 2rem;
}

hr {
    border: 1px solid #555555;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
